<div id="login_wrapper">

<h1>Login</h1>

<p class="errors"> <%= flash[:notice] %></p>
<%= form_tag do%>
<%= label_tag "Username or Email" %>
<%= text_field_tag :username_or_email %>
<%= label_tag :password %>
<%= password_field_tag :password %>
<%= submit_tag "Join the Party!" %>
<% end %>
</div>
