<!-- THIS FORM IS PERFECT!!! so user friendly and funny ahhhhhhhh, i'm so happy to be a part of this project with you  -->
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<br>
<div>
<% if @user.errors.any? %>
<% @user.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<% end %>
</div>
<br>

<%= form_for @user do |f| %>
	<div>
		<%= f.label(:email, "Step 1: Enter that email.") %>
		<%= f.email_field(:email) %>
	</div>

	<div>
		<%= f.label(:password, "Step 2: Pick that password.") %>
		<%= f.password_field(:password) %>
		<!-- i'm not sure how this will render w/o a label field, like they might not know to put it in twice, we should run and c it -->
		<br>
		<%= f.label(:password_confirmation, "Step 3: Confirm that password") %>
		<%= f.password_field(:password_confirmation) %>
	</div>

	<div>
		<%= f.label(:username, "Step 4: Pick a handle... so we know who sed.t") %>
		<%= f.text_field(:username) %>
	</div>

	<%= f.submit("I'm good to go!") %>
<% end %>
