<% if flash[:notice] %>
<p class="errors">
<%= flash[:notice] %>
<% if @user.errors.any? %>
<ul class='errors_list'>
<% @user.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
<% end %>
</ul>
<% end %>
</p>

<%= form_for @user do |f| %>
	<div>
		<%= f.label(:email, "Step 1: Enter that email.") %>
		<%= f.email_field(:email) %>
	</div>

	<div>
		<%= f.label(:password, "Step 2: Pick that password.") %>
		<%= f.password_field(:password) %>
		<%= f.label(:password_confirmation, "Step 3: Confirm that password.") %>
		<%= f.password_field(:password_confirmation) %>
	</div>

	<div>
		<%= f.label(:username, "Step 4: Pick a handle... so we know who sed.t") %>
		<%= f.text_field(:username) %>
	</div>

	<%= f.submit("I'm good to go!") %>
<% end %>
