<div id="user_show_page_wrapper">

    <h1><%= @user.username %>'s famous seyings</h1>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

  <% unless @user.links.empty? %>
    <% @user.links.each do |link| %>
    <div class="link_info">

    <div class="link_vote">
    <%= link_to image_tag('upvote.png', width:'16px'), upvote_path(link), method: :post %>
    <%= link.tally %>
    <%= link_to image_tag('downvote.png', width:'16px'), downvote_path(link), method: :post %>
    </div>

        <%= link_to(link.title, link.link_url) %>

        <% if @user == current_user %>
        ||
        <%= link_to("Ed.t", edit_link_path(link)) %>
        or
        <%= link_to("Ded.t", link, method: :delete, data: {confirm: "Are you sure?"}) %>
        <% end %>
    </div>
    <br>
    <% end %>
  <% end %>

  <%= link_to "Back to all Seyers", users_path %>
  <%= link_to "Back to all Seyings", root_path %>

</div>
