<h2><%= @user.username %>'s famous sayings</h2>

<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

  <% unless @user.links.empty? %>
    <% @user.links.each do |link| %>

        <%= form_tag upvote_path(link) do %>
            <%= submit_tag "^" %>
        <% end %>
        <%= link.tally %>

        <%= form_tag downvote_path(link) do %>
            <%= submit_tag  "v"%>
        <% end %>
            <p>
                <%= link_to(link.title, link.link_url) %> |
                <%= link_to("Ed.t", edit_link_path(link)) %>



                <%= link_to("Ded.t", link, method: :delete, class: "ded") %></p>
        <% end %>
<% end %>
