<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>

<% if @link.errors.any? %>
<% @link.errors.full_messages.each do |msg| %>
<%= msg %>
<% end %>
<% end %>

<%= form_for @path do |f| %>
<strong><%= @user.username.capitalize %></strong>
seys
<%= f.text_field(:title , :placeholder => "Catchy title goes here") %>
<%= f.label(:link_url) %> <span class="errors">Note: You cannot edit the url once created</span>
<%= f.text_field(:link_url, :placeholder => "http://") %>
<%= f.submit "Sey it!" %>
<% end %>
