<!DOCTYPE html>
<html>
<head>
  <title>RedtApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="main_header">

  <img class="header_img" src='http://i.imgur.com/K4oDbui.png'/>

  <nav class="main_nav">
    <% unless current_user %>
    <%= link_to "Login", login_path %>
    <%= link_to "Sign Up", new_user_path %>
    <% end %>
    <%= link_to "Seyings", root_path %>
    <% if current_user %>
    <%= link_to "Sey Something", new_user_link_path(current_user) %>
    <%= link_to "Your Page", user_path(current_user) %>
    <%= link_to "Account", edit_user_path(current_user) %>
    <%= link_to "Logout",  logout_path %>
    <% end %>
  </nav>

</header>


<div class="wrapper">
<%= yield %>
</div>

</body>
</html>
